body{
    background-color: rgb(207, 207, 232);
}
h1{
    color: rgba(14, 6, 226, 0.959);
}
#my-table{
    margin: 0 auto;
    /* border: 2px solid black; */
    padding: 20px;
    width: 300px;
}
#my-table th,
#my-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
#my-table th{
    color: aliceblue;
    background-color: blue;
}